{% extends 'base.html' %}
{% load static %}
{% block title %}
	Bayelsa Welcomes You!
{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-fluid" style="background-color: #b39ddb;">
		<div class="container" style="text-align: center;">
			<h1 class="display-4" style="">Welcome to <i class="fas fa-compact-disc" style="color:#673ab7;"></i> Bayelsa's</h1>
			<p class="lead">Nigeria's very own music cloud site <span>!</span>.</p>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<h6 class="display-4">Here are your albums, Felix!</h3>
		</div>
		<div class="row">
			{% if albums %}
				{% for album in albums %}
					<div class="col-md-3 ml-3">
						<div class="card" style="width: 18rem;">
							<div class="embed-responsive embed-responsive-1by1">
								<img src="{{ album.album_logo.url }}" class="card-img-top embed-responsive-item" alt="..." height="">
							</div>
							<div class="card-body">
								<h5 class="card-title">{{ album.album_title }}</h5>
								<p class="lead card-text">{{ album.artist }}</p>
								<a href="{% url 'music:detail' album.id %}" class="btn btn-primary">View</a>
								<a href="{% url 'music:album-edit' album.id %}" class="btn btn-success"><i class="fas fa-pen"></i></a>
								<form action="{% url 'music:album-delete' album.id %}" method="post" accept-charset="utf-8" style="display: inline;">{% csrf_token %}	<input type="hidden" name="album_id" value="{{ album.id }}" ><button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>		
								</form>
								
							</div>
						</div>
					</div>
					
					{% endfor %}
				{% else %}
					<h3 class="display-3">No Albums, Please Add</h3>
				{% endif %}
				<br>
			</div>
		</div>
{% endblock %}